.popup {
    background-color: rgba($color-black, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports(-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: .3rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        overflow: hidden;

        transform: translate(-50%, -50%) scale(0);
        transition: all .5s .2s;

        @include respond (tab-port) {
            display: block;
        }

        @include respond (phone) {
            max-height: 90%;
            overflow: scroll;
        }

    }

    &__left {
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
        position: relative;
        height: 100%;

        @include respond (tab-port) {
            width: 100%;
            display: inline-block;
            height: 30rem;
        }

        @include respond (phone) {
            height: 0;
        }
    }

    &__right {
        grid-column: 2 / 4;
        padding: 5rem 5rem;
    }

    &__img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-row: auto;
        overflow: hidden;
        position: absolute;

        @include respond (phone) {
            display: none;
        }
    }

    &__text {
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: .1rem solid $color-grey-dark-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: .1rem solid $color-grey-dark-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond (phone) {
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        color: $color-grey-dark;
        position: absolute;
        width: 6rem;
        height: 6rem;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 6rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;

        &:hover {
            color: $color-primary;
        }
    }
}